body{
  margin:0;
  background:#0f0f0f;
  font-family:sans-serif;
  color:white;
}

.login{
  display:flex;
  flex-direction:column;
  gap:15px;
  padding:30px;
  margin-top:100px;
}

.login input{
  padding:15px;
  border:none;
  border-radius:10px;
  background:#1e1e1e;
  color:white;
}

.login button{
  padding:15px;
  border:none;
  border-radius:10px;
  background:#00ffd5;
  font-weight:bold;
}

.chat{
  display:none;
  height:100vh;
  flex-direction:column;
}

.top{
  background:#00ffd5;
  color:black;
  padding:15px;
  font-weight:bold;
}

.messages{
  flex:1;
  overflow-y:auto;
  padding:10px;
}

.msg{
  background:#1f1f1f;
  padding:10px;
  border-radius:10px;
  margin-bottom:10px;
}

.send{
  display:flex;
  padding:10px;
  background:#111;
}

.send input{
  flex:1;
  padding:15px;
  border:none;
  border-radius:10px;
  background:#1f1f1f;
  color:white;
}

.send button{
  margin-left:10px;
  padding:15px;
  border:none;
  border-radius:10px;
  background:#00ffd5;
  font-weight:bold;
}